/*
CSS file for WYWM API project
*/

*{
    color: grey;
    font-family:Arial, Helvetica, sans-serif;
}

html,body{
    height:100%;
    margin:0px;
    background-color: wheat;
    background-image: url(recipe.jpg);
    background-size: cover;
    background-blend-mode: lighten;
    height: 100%;
    background-position: center;
}

h1{
    font-size:2cm;
    margin:0;
    padding: 0.5cm;
    padding-left: 1cm;
    padding-bottom: 0cm;
    color: rgb(189, 145, 88);
    margin-bottom: 1cm;
    font-family: 'Papyrus';
}

.panel{
    width:75%;
    height:auto;
    margin-left:2cm;
    margin-right:2cm;
    padding: 0.5cm;
    padding-left: 1cm;
    border-radius:0.5cm;
    background-color: rgb(240, 233, 222);
    margin-bottom: 1cm;
}

.recipe-panel{
    width:75%;
    height:auto;
    margin-left:2cm;
    margin-right:2cm;
    padding: 0.5cm;
    padding-top: 0cm;
    padding-left: 1cm;
    border-radius:0.5cm;
    background-color: rgb(240, 233, 222);
    margin-bottom: 1cm;
}

table{
    max-width: 100%;
}

td{
    white-space: normal;
    vertical-align: top;
}

th{
    padding: 0.5cm;
    padding-top: 1cm;
    font-size: 0.5cm;
    color: rgb(145, 111, 67);
}

#chart{
    width: 100%;
}

.img-container{
    display: inline-block;
    margin-top: 0.5cm;
    width: 100%;
    max-width: 100%;
}

.info-link{
    color: blue;
}

.ingred-title{
    margin-left: 0.5cm;
    font-weight: bold;
}

.recipe-buttons{
    margin-left: 0.5cm;
    margin-bottom: 0.5cm;
}